
.video-list-slider .slick-track {
    display: flex !important;
}

.video-list-slider .slick-slide {
    margin: 0 4px;
    /*height: inherit !important;*/
}
/*.video-list-slider .slick-slide > div {*/
/*    height: 100% !important;*/
/*}*/

.video-list-slider button.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 10;
    width: 2.5vw;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(0px, 0px);
}
.video-list-slider button.slick-prev::before{
    content: none;
}
.video-list-slider button.slick-arrow.slick-prev, .video-list-slider button.slick-arrow.slick-next {
    background-image: none;
    transition: all .2s ease-in-out;
}
.video-list-slider button.slick-arrow.slick-next {
    right: 0px;
}

.video-list-slider button.slick-arrow.slick-prev {
    left: 0px;
}

.video-list-slider button.slick-disabled {
    opacity: 0 !important;
}

.flickfeed {
    opacity: 0;
}

.video-list-slider.slick-initialized {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.flix-parents {
    overflow: hidden;
}

.flix-parents {
    position: relative;
    z-index: 5;
}

.flixer {
    position: relative;
    z-index: 5;
    height: 500px;
}
.video-list-slider {
    background: 0 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    position: relative;
}

.video-list-slider .slick-list {
    overflow: visible;
}
.video-list-slider .firster {
    transform-origin: center left !important;
}
.video-list-slider .laster {
    transform-origin: center right !important;
}
.video-list-slider .item-img img {
    max-width: 100%;
    height: auto;
}
.video-list-slider .post__content h3.post__title a {
    
}
.video-list-slider .post__content .post__title {
    margin: 10px 0px 0px 0px;
    font-family: "Overpass", Sans-serif;
    font-size: 16px;
    font-weight: 900;
}
.video-list-slider .post__cat {
    display: flex;
    flex-wrap: wrap;
}
.video-list-slider .post__cat .tag-item + .tag-item{
    margin-left: 10px;
}
.post__cat .tag-item a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease-in-out;
}
.video-list-slider .post__content {
    padding: 10px 10px 10px;
}
.post__cat .tag-item a:hover {
    color: #fff !important;
    opacity: .8;
}

.flickfeed.video-list-slider {
    padding-left: 2.5vw;
}
.video-list-slider button.slick-arrow.slick-prev,
.video-list-slider button.slick-arrow.slick-next {
    background-image: none;
    transition: all .2s ease-in-out;
}
.video-list-slider:hover button.slick-arrow.slick-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z' /%3E%3C/svg%3E");
}
.video-list-slider:hover button.slick-arrow.slick-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:24px;height:24px' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z' /%3E%3C/svg%3E");
}

section.py-5.flix-parents h2 {
    padding-left: 2.5vw;
    margin-bottom: 20px;
}

ul.video-cat-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.video-cat-list li {
    display: block;
}
ul.video-cat-list li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;
}


@media(max-width:767px){
    .video-list-slider button.slick-arrow {
        width: 3.9vw;
    }
    .video-list-slider button.slick-arrow.slick-prev {
        width: 2vw;
    }

}
@media(max-width:575px){
    .video-list-slider button.slick-arrow {
        width: 4.5vw;
    }
}